* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  height: 100vh;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

/* MASTER CONTAINER */

#master-container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  width: 100%;
  height: auto;
}

/* LEFT SIDE OF THE PAGE */

.navbar {
  display: block;
  border-right: 0.3px solid rgba(0, 0, 0, 1);
  width: 210px;
  height: 100vh;
  transition: all 300ms ease-in-out;
  position: relative;
  left: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.side-bar-icon {
  position: fixed;
  top: 15px;
  left: 20px;
  font-size: 1.45rem !important;
  font-weight: 100 !important;
  display: block;
  color: rgba(255, 255, 255, 0.4);
  transform: scaleX(-1);
  margin-bottom: 45px;
  cursor: pointer;
  z-index: 1;
}

.nav-element-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-element-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 87%;
  height: fit-content;
  padding-inline: 6px;
  padding-block: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 7px;
}

.no-saved-cities {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  font-weight: 350;
}

.nav-element-container.active {
  background-color: rgba(255, 255, 255, 0.15);
}

.delete-container {
  width: 100%;
  height: fit-content;
  padding: 2px;
}

.delete-button {
  width: 14px;
  height: auto;
  margin-bottom: 5px;
}

.nav-element-container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.top-inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-city {
  font-size: 0.85rem;
  font-weight: 550;
  margin-bottom: 1px;
  color: white;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.1);
}

.nav-time {
  font-size: 0.67rem;
  font-weight: 500;
  color: white;
  opacity: 0.5;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
}

.nav-temperature {
  font-size: 1.85rem;
  font-weight: 300;
  color: white;
  opacity: 0.75;
}

.bottom-inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  opacity: 0.5;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.1);
}

.nav-condition,
.nav-max-min {
  font-size: 0.67rem;
}

.nav-max-temp {
  margin-right: 5px;
  margin-left: 2px;
  font-weight: 550;
}

.nav-min-temp {
  margin-left: 2px;
  font-weight: 550;
}

.nav-hr {
  margin-top: 7px;
  width: calc(87% - 10px);
  border: 0.1px solid rgba(255, 255, 255, 0.1);
}

/* RIGHT SIDE OF THE PAGE */

#main-container {
  flex-grow: 1;
  transform: translate(0%);
  transition: all 300ms ease-in-out;
}

.add-and-search {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: fixed;
  right: 15px;
  top: 12px;
  height: 29px;
  width: 300px;
  z-index: 1200;
}

.add-btn {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 8px;
  padding-right: 10px;
  gap: 5px;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.add-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.add-btn p {
  font-size: 0.8125rem;
}

.add-btn span {
  font-size: 1.25rem;
}
/* SEARCH BOX */

.search-container {
  display: flex;
  align-items: center;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2); /* use rgba instead of opacity */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.search {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.search-icon {
  font-size: 18px !important;
  margin-left: 5px;
  margin-right: 5px;
  color: hsla(0, 0%, 100%, 0.195); /* Adjust color */
  vertical-align: middle; /* Align with text */
}

/* Dropdown container */
.search-dropdown {
  position: absolute;
  top: 100%; /* right below the input */
  left: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.394);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  margin-top: 8px;
  z-index: 1000;
  list-style: none;
  font-weight: 350;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.8125rem;
  user-select: none;
}

/* Individual list items */
.search-dropdown li {
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Hover and focus styles for items */
.search-dropdown li:hover,
.search-dropdown li:focus {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/* CURRENT WEATHER HEADER */

#current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  margin-top: 5.5rem;
}

.location-and-home {
  display: flex;
  align-items: center;
  gap: 3px;
}

#current-weather-container .fa-location-arrow {
  font-size: 0.75rem;
  font-weight: 600;
}

#current-weather-container .home {
  font-size: 0.625rem;
  font-weight: 550;
}

#current-weather-container .city {
  font-size: 1.65rem;
  font-weight: 350;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

#current-weather-container .temperature {
  font-size: 3.5rem;
  font-weight: 200;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

#current-weather-container .condition {
  font-size: 1rem;
  font-weight: 550;
  color: rgb(201, 232, 255);
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.max-min span {
  font-size: 0.95rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* WEATHER CARDS */

#inner-container {
  display: grid;
  justify-content: center;
  width: auto;
  margin: 5rem auto;
  grid-template-rows: repeat(5, 145px);
  grid-template-columns: repeat(6, 145px);
  gap: 15px 15px;
}

.cards {
  border-radius: 10px;
  background-color: rgba(18, 68, 104, 0.238); /* use rgba instead of opacity */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* Safari support */
}

.slider {
  grid-area: 1 / 1 / span 1 / span 6;
}
.forecast {
  grid-area: 2 / 1 / span 3 / span 2;
  height: auto;
}

.air {
  grid-area: 2 / 3 / span 1 / span 2;
}

.rainmap {
  grid-area: 2 / 5 / span 2 / span 2;
  height: auto;
}

.feelslike {
  grid-area: 3 / 3 / span 1 / span 1;
}

.wind {
  grid-area: 3 / 4 / span 1 / span 1;
}

.uvindex {
  grid-area: 4 / 3 / span 1 / span 1;
}
.sunset {
  grid-area: 4 / 4 / span 1 / span 1;
}

.humidity {
  grid-area: 4 / 5 / span 1 / span 1;
}
.visibility {
  grid-area: 4 / 6 / span 1 / span 1;
}

/* SLIDER CARD */

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-contents {
  display: flex;
  align-items: center;
  height: calc(145px - 31.5px);
  width: auto;
  margin-block: 5px;
  overflow-x: scroll;
  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.slider-contents::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.slider-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.slider-icon {
  font-size: 0.8rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.slider-header > p {
  margin-top: 1px;
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.slider hr {
  width: calc(100% - 10px);
  border: 0.25px solid rgba(255, 255, 255, 0.15);
  margin-left: 10px;
}

.slider-trio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
  margin-inline: 18px;
}

.slider-trio > p {
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
}

.slider-time {
  margin-top: 10px;
}

.weather-icon {
  width: 18px;
}

.slider-temperature {
  margin-bottom: 10px;
}

/*10-DAY FORECAST*/
.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast > hr {
  width: calc(100% - 20px);
  border: 0.25px solid rgba(255, 255, 255, 0.35);
}

.forecast-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.forecast-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.calendar-icon {
  font-size: 0.8rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.forecast-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.forecast-container > hr {
  width: calc(100% - 20px);
  border: 0.25px solid rgba(255, 255, 255, 0.35);
}

.horizontal-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.forecast-day {
  color: white;
  font-size: 0.925rem;
  font-weight: 450;
  margin-left: 12px;
  width: 70px;
}

.forecast-icon-container {
  display: flex;
  justify-content: flex-start;
  width: 70px;
}

.temperature-down-arrow {
  color: #20db9a;
  font-size: 30px !important;
  vertical-align: middle;
  width: 36px;
}

.temperature-up-arrow {
  color: #dc6156;
  font-size: 30px !important;
  vertical-align: middle;
  width: 36px;
}

.min-temperature {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.9rem;
  font-weight: 450;
  letter-spacing: 0.25px;
  width: 36px;
}

.max-temperature {
  color: white;
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.25px;
}

/* AIR QUALITY */

.air {
  position: relative;
  display: flex;
  flex-direction: column;
}

.air-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.air-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.air-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.air-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 0.25px;
}

#air-text {
  font-size: 1.25rem;
  font-weight: 600;
}

.air-animation-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 45px;
  height: 20px;
  width: 100%;
}

.air-anim-ball {
  position: absolute;
  background-color: rgb(253, 255, 182);
  height: 5px;
  width: 5px;
  left: 50%;
  outline: 1.5px solid rgba(65, 65, 65, 0.75);
  border-radius: 50%;
}

.air-stripe {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgb(75, 171, 255),
    rgb(69, 216, 47),
    rgb(255, 251, 12),
    rgb(255, 56, 56),
    rgb(130, 35, 35),
    rgb(212, 56, 255)
  );
  height: 4px;
  width: calc(100% - 20px);
  border-radius: 4px;
}

#air-caption {
  color: white;
  font-size: 0.67rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

/* RAIN MAP */
.rainmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rainmap-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rainmap-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.water-drop {
  font-size: 0.9rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.rainmap-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

#rain-map {
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#rain-map .leaflet-control-attribution {
  font-size: 0.55rem;
  opacity: 0.75;
}

div.leaflet-top.leaflet-left {
  top: auto !important;
  bottom: 0px !important;
}

#rain-map .leaflet-control-zoom {
  border: none;
  margin-left: 5px;
  margin-bottom: 5px;
}

#rain-map .leaflet-control-zoom-out,
#rain-map .leaflet-control-zoom-in {
  opacity: 1;
  background-color: rgba(50, 51, 54, 0.65);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#rain-map .leaflet-control-zoom-out {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.25);
}
#rain-map .leaflet-control-zoom-in {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.leaflet-control-zoom span {
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-indent: 0;
  line-height: 22px;
}

/*FEELS LIKE*/
.feelslike {
  display: flex;
  flex-direction: column;
}

.feelslike-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.feelslike-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.feelslike-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.feelslike-content {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  letter-spacing: 0.25px;
}

.feelslike-new-number-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.feelslike-difference {
  width: 2.15rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
  background-color: rgb(243, 163, 59);
  border-radius: 10px;
}
.feelslike-difference span {
  font-size: 0.65rem;
  font-weight: 700;
  align-self: center;
}

.feelslike-difference p {
  font-size: 0.75rem;
  align-self: center;
  font-weight: 500;
}

.feelslike-new-number {
  font-size: 1.55rem;
  font-weight: 350;
  margin-right: 15px;
}

.feelslike-actual-number {
  font-size: 0.9rem;
  font-weight: 450;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.75;
}

.feelslike-caption {
  font-size: 0.6rem;
  font-weight: 350;
}

/*WIND*/
.wind {
  display: flex;
  flex-direction: column;
}

.wind-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.wind-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.wind-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.wind-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.25px;
  padding-left: 10px;
  padding-right: 15px;
}

.wind-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.wind-content hr {
  width: calc(100%);
  border: 0.25px solid rgba(255, 255, 255, 0.35);
  margin-top: 10px;
}

.wind-text {
  color: white;
  font-size: 0.7rem;
}

.wind-value {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 0.7rem;
}

/*UV INDEX*/
.uvindex {
  position: relative;
  display: flex;
  flex-direction: column;
}

.uvindex-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.uvindex-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.uvindex-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.uvindex-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

#uvindex-value-number {
  font-size: 1.35rem;
  font-weight: 400;
}

#uvindex-value-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.uvindex-animation-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 45px;
  height: 20px;
  width: 100%;
  color: rgb(255, 255, 255);
}

.uvindex-anim-ball {
  margin-left: 11px;
  position: absolute;
  background-color: rgb(253, 255, 182);
  height: 5px;
  width: 5px;
  outline: 1.5px solid rgba(65, 65, 65, 0.75);
  border-radius: 50%;
}

.uvindex-stripe {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgb(69, 216, 47),
    rgb(255, 251, 12),
    rgb(255, 56, 56),
    rgb(212, 56, 255)
  );
  height: 4px;
  width: calc(100% - 20px);
  border-radius: 4px;
}

#uvindex-caption {
  color: white;
  font-size: 0.67rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

/*SUNSET*/
.sunset {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sunset-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.sunset-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.sunset-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.sunset-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.sunset-content #sunset-time {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.sunset-animation-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  bottom: 45px;
  height: 20px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 1rem;
  overflow: hidden;
}

.sun-anim-hide-left {
  position: absolute;
  left: 0px;
  width: 22.5px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.sun-anim-hide-right {
  position: absolute;
  right: 0px;
  width: 22.5px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.sunset-animation-stop-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  opacity: 0.75;
}

.sunset-animation-stop-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  height: 25px;
  width: 25px;
  opacity: 0.75;
}

.sun-anim-stripe {
  display: flex;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgba(205, 246, 206, 0.5),
    rgba(205, 239, 246, 0.75),
    rgba(205, 239, 246, 0.5)
  );
  height: 4px;
  width: calc(100% - 45px);
}

.sun-anim-ball {
  display: block;
  position: absolute;
  left: auto;
  right: auto;
  background-color: rgb(253, 255, 182);
  height: 10px;
  width: 10px;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  mix-blend-mode: screen;
}

.sunset-content #sunset-caption {
  color: white;
  font-size: 0.67rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

/*HUMIDITY*/
.humidity {
  display: flex;
  flex-direction: column;
}

.humidity-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.humidity-icon {
  font-size: 0.825rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.humidity-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.humidity-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.humidity-content #humidity-percentage {
  color: white;
  font-size: 1.55rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

.humidity-content #humidity-caption {
  color: white;
  font-size: 0.67rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

/*VISIBILITY*/
.visibility {
  display: flex;
  flex-direction: column;
}

.visibility-header {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  padding-block: 10px;
}

.visibility-icon {
  font-size: 0.9rem !important;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
  margin-right: 5px;
}

.visibility-header > p {
  text-transform: uppercase;
  height: auto;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.visibility-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.visibility-content #visibility-number {
  color: white;
  font-size: 1.55rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}

.visibility-content #visibility-caption {
  color: white;
  font-size: 0.67rem;
  font-weight: 350;
  letter-spacing: 0.25px;
}
